body {
    margin: 0 ;
    font-family: "Source Sans 3", serif;
    background-color: #EDEDED;
}

.container {
    margin: 0 auto ;
    width: 450px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #C6C6C6;
    background-color: white;
    margin-top: 8px;
}

.logo-img {
    width: 127px;
    margin-left: 10px;

}

.portrait-img {
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}



.userInfo {
    display: flex;
    justify-content: start;
    align-items: center ;
    padding: 10px;
    margin: 0;
}
.user-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

h2, p {
    margin: 0;
    font-size: 13px;
}

.post-img {
    width: 450px;
}

.userInfo-header {
    padding-left: 10px;
    margin: 0;
}

span{
    font-weight: bold;
    display: inline-block;

}

.userInfo-section {
    margin-bottom: 20px;
    background-color: white;
    padding-bottom: 5px;
}

.icon-img {
    width: 20px;
    padding-right:10px;
    cursor: pointer;
    transition: filter 0.3s ease;
}



.icon-section {
    margin: 8px 8px 0px 8px;
    display: flex;
    justify-content: start;
}

.comment-para, .likes-para {
    margin: 5px 8px;

}